//! ==================================================================
//! IMAGE CAROUSEL
//! ==================================================================
#image-carousel {
    .swiper-wrapper {
        height: calc(100vh);

        img {
            object-fit: cover;
            object-position: center;
        }
    }
}

// .companies {
//     height: 150px;
//     background-color: #f8f8f8;

//     .companies>.icon_container {
//         margin: auto;
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//     }
// }