@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

$themeFont: 'Figtree', sans-serif;
$themeColor1: #002b86;
$themeColor2: #0c9ff2;
$white: #ffffff;
$grey: #808080;
$black: #141D38;